POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD=guacamole_password

NOTIFIER_POLL_SECONDS=5
NOTIFIER_NOTIFY_EXISTING=false
NOTIFIER_MESSAGE_TEMPLATE=Guacamole 원격접속 성공\n사용자: {username}\n접속: {connection_name}\n접속지: {remote_host}\n시간: {start_date}

SLACK_WEBHOOK_URL=
SLACK_USERNAME=Guacamole Notifier
SLACK_ICON_EMOJI=:desktop_computer:
SLACK_TIMEOUT_SECONDS=15
